body {
  margin: 0;
  padding: 0;
  font-family: Avenir,'Roboto', sans-serif;
  font-size: 90%;
  background-color: #E9EAED; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #333;
  text-decoration: none; }

.nav-wrapper {
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center; }

.content-wrapper {
  width: 940px;
  margin: 2em auto 0;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.navbar {
  width: 100%;
  height: 100%; }

.navbar-primary {
  height: 52px;
  background: #3A5795;
  box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.12); }

.logo img {
  width: 22px;
  height: auto; }

.searchbar {
  width: 320px;
  display: flex; }
  .searchbar input {
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 28px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 1.5em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.2); }
  .searchbar input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4); }
  .searchbar input:focus {
    outline: none;
    border: 1px solid white;
    background-color: white;
    transition: 1s;
    color: #3A5795; }
  .searchbar button {
    border: none;
    width: 50px;
    background-color: white;
    color: #3A5795;
    font-size: 1.2em;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .searchbar button:focus {
    outline: none;
    border: none; }
  .searchbar button:hover {
    cursor: pointer;
    background-color: #e6e6e6; }

.avatar-area {
  display: flex;
  align-items: center; }
  .avatar-area .toolbar {
    margin-right: 1.5em; }
    .avatar-area .toolbar a {
      color: rgba(5, 17, 32, 0.4);
      font-size: 1.3em;
      margin-left: 0.6em; }
    .avatar-area .toolbar a:hover {
      color: rgba(5, 17, 32, 0.7); }
  .avatar-area .avatar-img {
    margin-right: 1em; }
    .avatar-area .avatar-img img {
      width: 26px;
      height: auto; }
  .avatar-area p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 0.9em; }

.navbar-secondary {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: white; }

.nav {
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  font-weight: 400; }

.nav-link {
  line-height: 45px;
  border-bottom: 4px solid transparent;
  opacity: 0.5;
  height: 45px; }
  .nav-link i {
    margin-right: 0.5em; }

.nav-active {
  border-bottom: 4px solid #3A5795;
  opacity: 1.0; }

.col-left {
  width: 220px; }

.col-middle {
  width: 485px; }

.col-right {
  width: 190px; }

.profile-card {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  height: 330px;
  background-color: white;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }

.profile-avatar {
  position: relative;
  top: -12%;
  left: 50%;
  margin-left: -35px; }

.username-bio {
  padding: 14px;
  text-align: center;
  margin: -40px 0; }
  .username-bio .username {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    color: #0b2539; }
  .username-bio .bio {
    color: rgba(11, 37, 57, 0.5);
    font-weight: 400;
    font-size: 0.7em;
    padding: 0;
    margin: 0.2em 0 0; }

.profile-meta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 14px;
  margin: 40px auto 0;
  width: 160px; }
  .profile-meta li {
    color: #0b2539;
    font-size: 1em;
    text-align: center; }
    .profile-meta li span {
      color: rgba(11, 37, 57, 0.5);
      font-size: 0.6em; }

.follow-btn {
  display: block;
  width: 160px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 10px auto 0;
  padding: 0 48px;
  border: 1px solid #3A5795;
  font-size: 0.8em;
  color: #3A5795;
  border-radius: 2px; }

.follow-btn:hover {
  background-color: #3A5795;
  color: white; }

.followed {
  display: block;
  width: 160px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin: 10px auto 0;
  padding: 0 48px;
  font-size: 0.8em;
  border-radius: 2px;
  background-color: #3A5795;
  color: white; }

.gallery {
  width: 220px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  height: 220px;
  padding: 14px;
  margin-top: 20px;
  background-color: white; }

.lightbox-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .lightbox-set li a img {
    width: 60px;
    height: 60px; }

#lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%; }

#lightbox-container,
#lightbox-stage {
  -webkit-transition: all 0.25s; }

.lightbox-off {
  opacity: 0;
  z-index: -1; }

.lightbox-on {
  opacity: 1;
  z-index: 100; }

#lightbox-stage {
  position: relative;
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 14px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5); }

#lightbox-image {
  max-width: 100%;
  height: auto; }

.lightbox-off #lightbox-stage {
  top: -100%; }

.lightbox-on #lightbox-stage {
  top: 0; }

.sitemap {
  margin: 1em auto 0;
  width: 220px;
  font-size: 0.7em; }
  .sitemap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .sitemap ul li {
      color: rgba(11, 37, 57, 0.5);
      margin: 0.2em 0.4em; }
      .sitemap ul li a {
        color: rgba(11, 37, 57, 0.5); }
      .sitemap ul li a:hover {
        text-decoration: underline; }

.ad {
  max-width: 100%;
  height: 372px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  padding: 14px; }
  .ad img {
    width: 162px;
    height: 100%; }

#hide-ad-btn {
  float: right;
  margin-top: 0.2em;
  font-size: 12px; }

#hide-ad-btn:hover {
  text-decoration: underline; }

#hide-ad-btn:after {
  clear: both;
  display: block;
  content: ''; }

.create-post {
  width: 485px;
  position: relative; }

hr {
  opacity: 0.14;
  margin: 0.5em auto;
  width: 90%; }

.writepost {
  width: 460px;
  height: 128px;
  padding: 14px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14); }
  .writepost textarea {
    resize: none;
    font-size: 0.9em;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 14px;
    height: 100%;
    width: 100%;
    color: rgba(11, 37, 57, 0.7); }
  .writepost textarea:focus {
    border: 1px solid rgba(58, 87, 149, 0.4);
    outline: none; }

.post-btn {
  background: #3A5795;
  box-shadow: 0 2px 8px rgba(58, 87, 149, 0.86);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  position: absolute;
  right: 3px;
  top: 33%; }
  .post-btn a {
    padding-right: 2px;
    display: block;
    font-size: 1.2em;
    color: white;
    outline: none;
    border: none; }

.post-btn:hover {
  cursor: pointer;
  background: #2c4270; }

.disabled {
  background-color: red; }

.post {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  width: 460px;
  margin-top: 1.2em;
  padding: 14px; }
  .post .post-avatar {
    margin-right: 0.6em; }
  .post i {
    margin-right: 0.2em; }
  .post p {
    color: #0b2539;
    margin: 0 0 0.8em;
    padding: 0;
    font-weight: 300;
    font-size: 0.9em; }
  .post .post-creator {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    color: #0b2539; }
  .post .time-place {
    font-size: 0.8em;
    color: #b4c1cf;
    display: flex;
    align-items: center; }
  .post .dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #b4c1cf;
    margin: 0 6px; }
  .post .post-meta {
    display: flex; }
  .post .location {
    font-style: normal;
    font-weight: 400; }
  .post .post-content {
    margin-top: 0.6em; }
  .post video {
    width: 100%;
    height: auto; }

.post-hidden {
  display: none; }

@media (max-width: 768px) {
  .nav-wrapper {
    padding: 0 1em;
    transition: 1s; }

  .col-right {
    display: none; }

  .content-wrapper {
    padding: 0 1em;
    transition: 1s;
    width: 740px; }

  .post, .writepost {
    width: 400px; }

  .post-btn {
    right: 64px; }

  .toolbar {
    display: none; } }
@media (max-width: 500px) {
  .greeting {
    display: none; }

  .searchbar {
    width: 250px;
    transition: 1s; }

  .writepost, .post {
    width: 340px;
    transition: .5s; }

  .post-btn {
    right: 123px;
    transition: 1s; }

  .col-left {
    display: none; } }
